; 请妥善保管您的配置
registry=https://whfree-npm.pkg.coding.net/fe/registry/
always-auth=true
//whfree-npm.pkg.coding.net/fe/registry/:username=registry-1680708452369
//whfree-npm.pkg.coding.net/fe/registry/:_password=MWRkOTNhNjk0ZDkxNjk0ZTU0MjQzMjgwZjkyNTcxMTEzMzM0MTA3Yw==
//whfree-npm.pkg.coding.net/fe/registry/:email=13971332694@163.com
