; 请妥善保管您的配置
registry=https://whfree-npm.pkg.coding.net/fe/registry/
always-auth=true
//whfree-npm.pkg.coding.net/fe/registry/:username=registry-1667729886458
//whfree-npm.pkg.coding.net/fe/registry/:_password=MTk4ODE2ZDU3ZDM2MDA1YzQxOWZlMDczNWRiMjdiZjE5NGVkYTVhMA==
//whfree-npm.pkg.coding.net/fe/registry/:email=13971332694@163.com
